@model IEnumerable<WebApplication2.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-success" asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    }
                    @if (User.IsInRole("User") || User.IsInRole("Moderator") || User.IsInRole("Admin"))
                    {
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ID">Details</a>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
